{:paths ["src"]
 :deps
 {clj-http/clj-http {:mvn/version "3.12.3"}
  cheshire/cheshire {:mvn/version "5.12.0"}}
 :aliases
 {:build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
   :ns-default build}}}
